{% extends 'layout.html' %}

{% block customization %}
  <style>
    img {
      width: 50px;
      height: 50px;
    }
  </style>
{% endblock %}

{% block content %}
<div id="swup" class="glass blur-glass panel-cards transition-fade">
  <!-- 
        <a href="">Cursos</a>&nbsp;|&nbsp; 
        <a href="">Estudantes</a>&nbsp;|&nbsp;
        <a href="">FSA</a>&nbsp;|&nbsp;
        <a href="">CEFSA</a>&nbsp;|&nbsp;
        <a href="">FESA</a>&nbsp;|&nbsp;
        <a href="">Termomecânina</a>&nbsp;|&nbsp; 
        -->

  <a href="/app-school/curso/listar">
    <div class="card delay-1">
      <img src="{{ url_for('static', filename='images/cards/cursos.jpg') }}" />
      <h4>Cursos</h4>
      <!-- <p></p> -->
    </div>
  </a>

  <a href="/app-school/estudante/listar">
    <div class="card delay-2">
      <img
        src="{{ url_for('static', filename='images/cards/estudantes.jpg') }}"
      />
      <h4>Estudantes</h4>
      <!-- <p></p> -->
    </div>
  </a>

  <a href="/app-school/endereco/listar">
    <div class="card delay-3">
      <img
        src="{{ url_for('static', filename='images/cards/enderecos.jpg') }}"
      />
      <h4>Endereços</h4>
      <!-- <p></p> -->
    </div>
  </a>

  <a href="http://www.cefsa.org.br">
    <div class="card info delay-4">
      <img src="{{ url_for('static', filename='images/cards/cefsa2.jpg') }}" />
      <h4>CEFSA</h4>
      <p>Centro Educacional da Fundação Salvador Arena</p>
    </div>
  </a>

  <a href="http://www.faculdadesalvadorarena.org.br">
    <div class="card info delay-5">
      <img src="{{ url_for('static', filename='images/cards/fesa.jpg') }}" />
      <h4>FESA</h4>
      <p>Faculdade Engenheiro Salvador Arena</p>
    </div>
  </a>

  <a href="https://www.termomecanica.com.br">
    <div class="card info delay-6">
      <img src="{{ url_for('static', filename='images/cards/tm.jpg') }}" />
      <h4>TM</h4>
      <p>Termomecânina S.A.</p>
    </div>
  </a>
</div>
{% endblock %}