<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>

    <meta http-equip="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
  </head>

  <body>

    <header>
      <h1>app-School</h1>
    </header>

      <a href="/app-school/curso/listar">Cursos</a>&nbsp;|&nbsp;
      <a href="/app-school/estudante/listar">Estudantes</a>&nbsp;|&nbsp;
      <a href="https://www.fundacaosalvadorarena.org.br/">FSA</a>&nbsp;|&nbsp;
      <a href="https://www.cefsa.org.br/">CEFSA</a>&nbsp;|&nbsp;
      <a href="https://www.faculdadesalvadorarena.org.br">FESA</a>&nbsp;|&nbsp;
      <a href="https://www.termomecanica.com.br">Termomecânina</a>&nbsp;|&nbsp;

    <footer>
      <p>
        Copyright &copy;&nbsp;&#45;&nbspDevQuickly<br>
        Python Flask
      </p>
    </footer>

  </body>
</html>
