<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>

    <meta http-equip="Content-Type" content="text/html"
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
  </head>

  <body>

    <nav id="nav_bar">
      <a href="/app-school">Principal</a>&nbsp;|&nbsp;
      <a href="/app-school/curso/novo">Novo</a>&nbsp;|&nbsp;
    </nav>

    <h3>Cursos</h3>

    <section>
      <table width="600">
        <tbody>
          <tr>
            <td>sigla &nbsp;&#45;&nbsp; nome</td>
            <td><a href="">editar</a></td>
            <td><a href="">remover</a></td>
          </tr>
        </tbody>
      </table>
    </section>

    <footer>
      <p>
        Copyright &copy;&nbsp;&#45;&nbspDevQuickly<br>
        Python Flask
      </p>
    </footer>

  </body>
</html>
