<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>
    <meta http-equip="Content-Type" content="text/html"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <nav id="nav_bar">
      <a href="/app-school">Principal</a>&nbsp;|&nbsp;
      <a href="/app-school/curso/novo">Novo</a>&nbsp;|&nbsp;
    </nav>
    <h3>Cursos</h3>
    <section>
      <table width="600">
        <tbody>
          {% for curso in cursos %}
            <tr>
              <td>{{curso.sigla}} &nbsp;&#45;&nbsp; {{curso.nome}}</td>
              <td><a href="/app-school/curso/alterar?nome={{curso.nome}}">editar</a></td>
              <td><a href="/app-school/curso/remover?nome={{curso.nome}}">remover</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <footer>
      <p>
        Copyright &copy;&nbsp;&#45;&nbspDevQuickly<br>
        Python Flask
      </p>
    </footer>
  </body>
</html>
