<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>

    <meta http-equip="Content-Type" content="text/html"
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
  </head>

  <body>

    <nav id="nav_bar">
      <a href="/app-school">Principal</a>&nbsp;|&nbsp;
    </nav>

    <h3>Curso::exclus&atilde;o?</h3>

    <form method="POST" action="/app-school/curso/confirmar-exclusao">
      <input type="text" hidden name="query" value="{{curso.nome}}">

      <label for="nome">Nome:&nbsp;</label>     
      <input type="text" name="nome" value="{{curso.nome}}" readonly size="40">
      <br>

      <label for="sigla">Sigla:&nbsp;</label>
      <input type="text" name="sigla" value="{{curso.sigla}}" readonly size="10">
      <br>

      <input type="submit" name="Excluir">
      <input type="button" value="Cancelar">
    </form>

  </body>
</html>
