{% extends 'layout.html' %}

{% block items %}
<li class="nav-item"><a href="/app-school">início</a></li>
{% endblock %}

{% block content %}
<div id="swup" class="fill-space transition-fade">
  <h3 class="title">
    <span style="vertical-align: text-bottom" class="material-icons">
      assignment_ind
    </span>&nbsp;Alterar
  </h3>
  
  <form id="form" class="glass white-glass" method="POST" data-action="/app-school/estudante/confirmar-alteracao">
    <input type="text" hidden id="query" value="{{estudante.curso.nome}}" />
    <input type="text" hidden name="matricula" value="{{estudante.matricula}}" />

    <label for="nome">Nome:&nbsp;</label>
      <input 
        name="nome" 
        type="text" 
        value="{{estudante.nome}}" 
        class="box"
        autofocus 
        required 
        size="20"
      />
    
    <label for="matricula">Matrícula:&nbsp;</label>
      <input 
        name="matricula" 
        type="text" 
        value="{{estudante.matricula}}" 
        class="box box-readonly"
        size="12"
        readonly
      />
    
    <label for="curso">Curso:&nbsp;</label>
      <select name="curso" class="box" id="curso" autofocus required>

        {% for curso in cursos %}
          <option value="{{curso.nome}}">{{curso.nome}}&nbsp;&#45;&nbsp;{{curso.sigla}}</option>
        {% endfor %}

      </select>
    
    <input 
      id="submit"
      class="btn btn-record-action" 
      type="submit" 
      value="&check; Alterar" />
    <input
      id="cancel"
      class="btn btn-record-action"
      type="button"
      value="&#10005; Cancelar" />
  </form>
</div>
{% endblock %}

<!--  -->

