{% extends 'layout.html' %}

{% block items %}
  <li class="nav-item"><a href="/app-school">início</a></li>
  <li class="nav-item"><a href="/app-school/estudante/novo">novo</a></li>
{% endblock %}

{% block content %}
<div id="swup" class="fill-space transition-fade">
  <h3 class="title">
    <span style="vertical-align: text-bottom" class="material-icons">
      assignment_ind
    </span>&nbsp;Estudantes&nbsp;
  </h3>
  
  <section class="glass white-glass">
    <table>
      <tbody>
        {% for estudante in estudantes %}

          <tr>
            <td class="data" style="text-align: right;">{{estudante.matricula}}&nbsp;&#45;&nbsp;<b>{{estudante.nome}}</b>&nbsp;&#45;&nbsp;{{estudante.curso.sigla}}</td>

            <td>
              <a class="btn btn-row-action" href="/app-school/estudante/alterar?matricula={{estudante.matricula}}">
                editar<span class="material-symbols-outlined">edit_note</span>
              </a>
            </td>
  
            <td>
              <a class="btn btn-row-action" href="/app-school/estudante/remover?matricula={{estudante.matricula}}">
                remover<span class="material-symbols-outlined">delete_sweep</span>
              </a>
            </td>

          </tr>
          <!-- <tr>
            <td>
              {{estudante.curso.sigla}}&nbsp;&#45;&nbsp;{{estudante.curso.nome}}
            </td>
          </tr> -->

        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}