<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>

    <meta http-equip="Content-Type" content="text/html"
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    
  </head>

  <body>

    <nav id="nav_bar">
      <a href="/app-school">Principal</a>&nbsp;|&nbsp;
    </nav>

    <h3>Estudante::novo</h3>

    <form method="POST" action="">
      <label for="nome">Nome:&nbsp;</label>     
      <input type="text" name="nome" autofocus required size="80">
      <br>

      <label for="matricula">Matrícula:&nbsp;</label>
      <input type="text" name="matricula" autofocus required size="12">
      <br>

      <label for="curso">Curso:&nbsp;</label>
      <select name="curso" autofocus required>
        <option id="" value="">--selecione--</option>

        <option value="">nome do curso</option>
      </select>
      <br>

      <input type="submit" value="Enviar">
      <input type="button" value="Cancelar">
    </form>

  </body>
</html>
