<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>::app-School</title>
    <meta http-equip="Content-Type" content="text/html">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
  </head>
  <body>
    <nav id="nav_bar">
      <a href="/app-school">Principal</a>&nbsp;|&nbsp;
      <a href="/app-school/estudante/novo">Novo</a>&nbsp;|&nbsp;
    </nav>
    <h3>Estudantes</h3>
    <section>
      <table width="600">
        <tbody>
          {% for estudante in estudantes %}
            <tr>
            <td><b>{{estudante.matricula}}</b></td>
              <td><a href="/app-school/estudante/alterar?matricula={{estudante.matricula}}">editar</a></td>
              <td><a href="/app-school/estudante/remover?matricula={{estudante.matricula}}">remover</a></td>
            </tr>
            <tr>
              <td>
                {{estudante.nome}}
                <br>
                {{estudante.curso.sigla}}&nbsp;&#45;&nbsp;{{estudante.curso.nome}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
    <footer>
      <p>
        Copyright &copy;&nbsp;&#45;&nbsp;DevQuickly<br>
        Python Flask
      </p>
    </footer>
  </body>
</html>
